<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/layout.css" />
{% if title %}
    <title>Blog - {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
  </head>


  <body>
    <!--The navigation of the web application -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HOMEPAGE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if current_user.is_authenticated %}
              <li><a href="/write_blog">Write Blog</a></li>
              <li><a href="/my_blog/{{current_user.id}}">My Blog</a></li>
              <li><a href="/follower_blog">Follower Blog</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ current_user.username }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile/{{current_user.id}}">Profile</a></li>
                      <li><a href="/edit_profile">Edite Profile</a></li>
                        <li><a href="/change_password">Change Password</a></li>
                        <li><a href="/logout">Log Out</a></li>
                          {%if current_user.is_administrator() %}
                          <li><a href="/manage_user">Manage User</a></li>
                          {% endif %}
                    </ul>
                </li>
                {% else %}
                <li><a href="/login">LOG IN</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
<div class="container-fluid">
  {% block content %}
  <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
      {% endfor %}

      {% block page_content %}{% endblock %}
  </div>
  {% endblock %}
</div>

  </body>
</html>
